.venv/
.env
__pycache__/
uv.lock
*.pyc
.DS_Store
*.egg-info/
.python-version
uv.lock


data/external/
data/cache/
runs/
weights/


models/deep_learning/architectures/transformer/tasks/translation/Helsinki-NLP/
models/deep_learning/architectures/transformer/tasks/translation/runs/
models/deep_learning/architectures/transformer/tasks/translation/tokenizer_??.json

