raw_data/
.vscode/
__pycache__/
*.pyc
.DS_Store
*.egg-info/
system_info.ipynb
.python-version

data/Information Theory/Raymond W. Yeung (auth.) - A First Course in Information Theory (2002, Springer).pdf