.vscode/
.venv/
__pycache__/
raw_data/
*.pyc
.DS_Store
*.egg-info/
.python-version


system_info.ipynb
data/Information Theory/Raymond W. Yeung (auth.) - A First Course in Information Theory (2002, Springer).pdf